files:
  /tmp/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      server {
        listen 443 ssl;
        server_name localhost;
        
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFVTCCBD2gAwIBAgISAzkVr++78ETDrl8liSQqY41gMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDExMDgxNDIyNTNaFw0y
      MTAyMDYxNDIyNTNaMBkxFzAVBgNVBAMMDioudmlydG93ZXIubmV0MIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt6B0WzDF/Qtipuzo7KFENkcQ+uIGNfpc
      danbwAR/XDjhHHmIhiOIh7R/tU+ovZoiIXCah8bWY3cQqySJ1rqIwYRPTueEIKrE
      bgyguyn94PWysuZTxxu7qoZU4LtKO+upVweW0aVvx4BlR/QSjTrPVaYn62oKgrTj
      vSTq8sWuBP+mJQpUoGgQvot43FtBIMjhuym1DBLHDcIBzW7lJSEThxQOlmfhzTkH
      lADrw+iizUpf6C/rk6NpXuhO+hoo7uHr5xoMCdWpZGCnFAu7iriTCvXQo9i2RFsW
      URP6THkk3UwnTvBmXxGLVckcCFwc/VVqteR5+kwuZQnVurghRVR7MwIDAQABo4IC
      ZDCCAmAwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEF
      BQcDAjAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBS2TQqaf4c4/9jbXteeDo/81ftR
      GTAfBgNVHSMEGDAWgBSoSmpjBH3duubRObemRWXv86jsoTBvBggrBgEFBQcBAQRj
      MGEwLgYIKwYBBQUHMAGGImh0dHA6Ly9vY3NwLmludC14My5sZXRzZW5jcnlwdC5v
      cmcwLwYIKwYBBQUHMAKGI2h0dHA6Ly9jZXJ0LmludC14My5sZXRzZW5jcnlwdC5v
      cmcvMBkGA1UdEQQSMBCCDioudmlydG93ZXIubmV0MEwGA1UdIARFMEMwCAYGZ4EM
      AQIBMDcGCysGAQQBgt8TAQEBMCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly9jcHMubGV0
      c2VuY3J5cHQub3JnMIIBBQYKKwYBBAHWeQIEAgSB9gSB8wDxAHYAXNxDkv7mq0VE
      sV6a1FbmEDf71fpH3KFzlLJe5vbHDsoAAAF1qHP2BQAABAMARzBFAiABmKdwvfTw
      OFHppzfJj5XY6J2TNVRfctMF5BbY5un39QIhANFKnhUUlso2HE7Obz9BSwuw9rX3
      eiFxWok+V6yJnwkCAHcAfT7y+I//iFVoJMLAyp5SiXkrxQ54CX8uapdomX4i8NcA
      AAF1qHP2ZQAABAMASDBGAiEAnDPnK/J1APrsRRZExfJaBxyoq2s2sfGFAo40J6xu
      fJoCIQC02fU5Tm/PZJJ6xBNJOMzOe0vnjW19wZWt01Ft2Wo/0TANBgkqhkiG9w0B
      AQsFAAOCAQEADSTABhQagpMJiyHCk0M7B7dAUkKQVaeLwQmysFjMf9f+VldiuJUy
      S6nE/1Ptcs4Y3Y5pHouWCv29DYngUlSFe4F5ASPLm+Voq/6ukS9qpkTLPE6hEsXf
      Z19/yRuJMh/c9vcaxqWGZIvL37FuPnxdKiRAbiSQ7Tv2dD/gFwNilCPAbbsua88D
      LEK+o/LoU554iUufLj1qIqk6jrPOFI8Qax98zLzmGY2yQaGFI8u7QL5zTQg2Gqpp
      d44MKhq6loanE6LAORcsHDOztbbLzLx0sYgo0EEw5N4Ph13ULGrSZqug6Wk9L9kD
      DvXwgFzNIp/CO6MEG//F16/8DT8YUMY+Lw==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC3oHRbMMX9C2Km
      7OjsoUQ2RxD64gY1+lx1qdvABH9cOOEceYiGI4iHtH+1T6i9miIhcJqHxtZjdxCr
      JInWuojBhE9O54QgqsRuDKC7Kf3g9bKy5lPHG7uqhlTgu0o766lXB5bRpW/HgGVH
      9BKNOs9VpifragqCtOO9JOryxa4E/6YlClSgaBC+i3jcW0EgyOG7KbUMEscNwgHN
      buUlIROHFA6WZ+HNOQeUAOvD6KLNSl/oL+uTo2le6E76Giju4evnGgwJ1alkYKcU
      C7uKuJMK9dCj2LZEWxZRE/pMeSTdTCdO8GZfEYtVyRwIXBz9VWq15Hn6TC5lCdW6
      uCFFVHszAgMBAAECggEBAIhKtPJWUi3OPIvPPdccn2d1+flst9VqnSPMTknITMuj
      gBpFbnq5dwXaiAuIM6N++qQ9UsVCZS/wWNPeS9ywGP8heEgFeMFSXnecMdSZh1Fo
      rBky8a3QPMuF5wvil2fAM7Ff9aZnl37JIuN0GizvIKLer7SAwYpgPsTN2QEWjmIw
      JezT2Vj+o1Ui+37NQHpkAvbp/T4v2jEuFjZA4aDKKrxoZQ0m00XapBMpICf2OEbN
      mFCkypSUq01dUPQokNhfLZs/1PE2YJGXX+tcrV8Zvs7r88uJBXMqwjo72C3AOD7t
      Zk7ME/At1hpszLUx0vjOAMjkuGFpPDuXFLdDUUhcMTECgYEA9JSC88RdUEnQphmU
      Ujam3Bbzf2zRzs7on1o/jlCxwdGG35h1v8HA5JRKiV5vj4mLLPEHku6aa+xes7Iy
      7mrs5j37Rhf5ArVccyjq+WOa5jkqe9h+Sz66xm5QJp7O6gPU/rf6sdM5+/wGRNho
      D+gcGuMBDAoh3IHMSU5gx/t53ikCgYEAwDNcsMrSdBqeLfuQe4YJV732ifPqntMU
      pbOvitwkBWPK7hJx+bpZMmd74uSsdH13DN8vUX7rnQ72IpHtcaeMrmk/hzDFq2Iv
      QrgMjO+qhP38zwFbKQJfaKG176L9ZgEBynZ/ITeXLEgcLS1Bhj7tPAUxcxLwWgUI
      C4Ift79dgfsCgYAaj2otKLztdCapcwutZev26LMmul2KdOPEMlvGi7LSFnvsGjVn
      TpYw/H2fr1a0Ir6vcbld1nWElNWv9AEd7RSu6Do6YW4UQje49c+Wp59xsvGPI3KL
      n1NPKzmfCA32UdY2lyotV3/rgnH31fxvBcjPjqlVcmA8/wd9SnquHPweCQKBgFb+
      KGMAujbA4X2QknnGVi43lgIku7n9cif552djco5Z97y/7oSIutyciC9PL1teemcC
      EanCV6Rz5CYLhLxfiMZcbtui0KVcwGVjZpLX24dsamPLilZKc6KpJu77B9SGeigI
      cEw5nBv324D7LeA0VS5Ib3RVSyKDinui/vYtEIbHAoGAXoc9KrMP40Vrju7JQr/u
      uUjbP2SWVIxM4UHR4pda2q7Zyf6U/LeHbN59HyO3Kp1JqpUVFgAvWchLNq2x8q7u
      btITr5M/PJgJRRms7j5guqfQZqqrSaUYdJ/5w5vT6EdHY2Ez6jbHCRQc4oWKRmgj
      YLw+P0webC/SCY2rTrhtWJY=
      -----END PRIVATE KEY-----

container_commands:
  01_copynginxconfig:
    command: "cp /tmp/https.conf /etc/nginx/conf.d/elasticbeanstalk/https.conf"